@charset "utf-8";

body{
    background-color: #E0C39E;
}

h1{
	color:darkgreen;
	text-decoration: underline wavy;
}

ul{
	list-style-type: none;
	background-color: green;
	width:200px;
	margin: 0;
}
li a:hover{
	display:block;
text-decoration:none;
	color:gold;
	padding: 8px 16px;
}
